.register_main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.register_form {
  margin-top: 100px;
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.login_main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.login_form {
  margin-top: 100px;
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.login_email{
  margin-left: 25px;
}

@media (max-width: 575px) {
  .login_email {
    width: 100%;
    margin-left: 0;
  }
  .login_password{
    width: 100%;
  }
}
