.todo_list_page{
    /* padding: 20px 40px; */
}

.todo_nav{
    height: 50px;
}

.logout_icon{
    color: rgb(0, 119, 255);
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.todo_nav label{
    font-size: 20px;
    font-weight: 900;
    color: royalblue;
    cursor: pointer;
}

.todo_container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}

.todo_input{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}

.todo_list{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    /* width: 15%; */
}

.todo_list_items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.todo_input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.edit_btn{
    background: green;
    border-color: green;
    color: white;
    width: 60px;
}

.edit_btn:hover{
    background-color: rgb(20, 151, 20);
    border-color: rgb(20, 151, 20);;
    color: white;
}

.delete_icon, .edit_icon{
    font-size: 20px;
}

.delete_edit{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.delete_btn{
    background: rgb(243, 21, 21);
}
.delete_btn:hover{
    background-color: rgb(248, 81, 81);
}

.btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;

}
.delete_icon{
    color: white;
}

.delete_b{
    background: rgb(196, 10, 10);
    color: white;
    font-size: 15px;
}
.delete_b:hover{
    background-color: rgb(248, 81, 81);
}

.list_element{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* word-wrap: break-word; */
    word-break: break-word;
}
.list_element h3{
}

/* .delete_btn:hover{
    background-color: rgb(206, 17, 17);
    color: white;
} */

.ant-card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_input_form{
    width: 20%;
    max-width: 200px;
    min-width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
   th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
