

.todo_nav{
    height: 50px;
}

.logout_icon{
    color: rgb(0, 119, 255);
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.todo_nav label{
    font-size: 20px;
    font-weight: 900;
    color: royalblue;
    cursor: pointer;
}

.todo_container{
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;

}


.todo_input_err{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.error{
    color: rgb(187, 12, 12);
}

.todo_input{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}

.todo_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 30vw; */
    width: 100%;
}

.cardd{
    width: 35%;
    min-width: 550px;
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 10px;
}

.todo_list_items{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.todo_input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.edit_btn{
    background: green;
    border-color: green;
    color: white;
    width: 60px;
    
}


.edit_btn:hover{
    background-color: rgb(20, 151, 20);
    border-color: rgb(20, 151, 20);;
    color: white;
}

.delete_icon, .edit_icon{
    font-size: 20px;
}

.delete_edit{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.delete_btn{
    background: rgb(243, 21, 21);
}
.delete_btn:hover{
    background-color: rgb(248, 81, 81);
}

.btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;

}
.delete_icon{
    color: white;
}

.delete_b{
    background: rgb(196, 10, 10);
    color: white;
    font-size: 15px;
}
.delete_b:hover{
    background-color: rgb(248, 81, 81);
}

.list_element{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* word-wrap: break-word; */
    word-break: break-word;
}

.sort_filter{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ant-card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_input_form{
    width: 20%;
    /* max-width: 200px; */
    min-width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
    /* width: 33vw; */
    /* table-layout: fixed; */
    width: 100%;
  }
  
  th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

tr:hover{
    background-color: rgb(243, 243, 242);
}
/* th:nth-child(1), th:nth-child(2),th:nth-child(4), th:nth-child(5), th:nth-child(6) {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  } */
  /* th:nth-child(3){
border-top: 1px solid #dddddd;
  } */

  /* #myTable thead th:nth-child(2){
    display: flex;
    flex-direction: row;
  } */

  .arrow{
    font-size: 15px;
    /* color: #b4b4b4; */
    color: #3a3939;
    cursor: pointer;
  }


  .arrow:hover{
    color: #616060;
  }


@media screen and (max-width: 600px) {
    .cardd{
        width: 80%;
        min-width: 300px;
    }
    #myTable{
        width: 100%;
    }
    #myTable thead {
      display: none; 
    }

    #myTable tbody td:nth-child(1){
        display: none;
    }
    
    #myTable tbody tr {
      display: block; 
      border-bottom: 1px solid #b4b4b4; 
      margin-bottom: 10px; 
      
    }
    
    #myTable tbody{
        /* width: 100%; */
    }

    #myTable tbody td {
      display: block; 
      text-align: left; 
    }
    .sort_filter{
        border-bottom: 1px solid #b4b4b4;
    }

    #myTable tbody tr {
        display: flex;
        flex-wrap: wrap;
      }
      
        #myTable tbody  td {
            flex: 1;
            border: none
        }
      
      #myTable tbody  tr td:nth-child(2){
        flex-basis: 100%;
      }
      #myTable tbody  tr td:nth-child(3){
        flex-basis: 50%;
      }

      #myTable tbody  tr td:nth-child(4){
        flex-basis: 50%;
      }
      #myTable tbody  tr td:nth-child(5){
        flex-basis: 50%;
        /* width: 100%; */
      }
      #myTable tbody  tr td:nth-child(6){
        flex-basis: 50%;
      }

  }

  @media (max-width: 450px) {
    .sort_filter{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #b4b4b4;
    }
  }
  

