/* @tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css"; */

* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #9aa7ec;
  /* width: 100vw; */
  height: 100vh;
    
  /* max-width: 100%; */
  /* min-width: 100vw; */
  /* overflow: scroll; */
}

.home_page {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}
.signup_left {
  width: 50%;
}

.signup_left .signup_left_svg {
  margin: 10% 15%;
  height: 70%;
}

.home_login {
  width: 100%;
}

@media (max-width: 600px) {
    .App{
      min-height: 120vh;
      /* min-width: 110vw; */
    }
}