/* @tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css"; */

* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  background-color: #9aa7ec;
  height: 100%+100px;
    
} */

.home_page {
  display: flex;
  flex-direction: row;
  background-color: #9aa7ec;
  height: 100%+100px;
  
}
.signup_left {
  width: 50%;
}

.signup_left .signup_left_svg {
  margin: 10% 15%;
  height: 70%;
}

.home_login {
  width: 100%;
}

@media (max-width: 600px) {
    .App{
      min-height: 120vh;
      /* min-width: 110vw; */
    }
}

/* @media (max-height: 600px) {
  .App {
    background-color: #0c2bc7;
    height: 100vh;
      
  }
} */